* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

body {
    font-family: 'Roboto', sans-serif;
}


/*styling nav*/

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px;
    box-shadow: 0px 0px 6px 0px gray;
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 10;
}

#nav-brand img {
    width: 60px;
}

.nav-item {
    margin: 0px 5px;
    flex: 1;
}

#nav-search {
    flex-basis: 70%;
}

.nav-item a {
    text-decoration: none;
    font-weight: bolder;
}

#following a {
    padding: 15px 20px;
    color: rgb(10, 10, 10);
}

#following a:hover {
    border-radius: 30px;
    background-color: rgb(233, 233, 233);
}

.active a {
    color: white;
    background-color: rgb(32, 32, 32);
    padding: 15px 20px;
    border-radius: 30px;
}

.nav-item .fa,
.nav-item .fas {
    padding: 12px;
    font-size: 1.4em;
    color: rgb(75, 75, 75);
}

#search {
    font-size: 1em;
    padding: 0px;
}

#search:hover {
    background-color: rgb(226, 226, 226);
}

.nav-item .fa:hover,
.nav-item .fas:hover {
    background-color: rgb(233, 233, 233);
    border-radius: 100%;
}

.nav-item form {
    display: flex;
    align-items: center;
    height: 50px;
    border-radius: 30px;
    border: 0px;
    outline: none;
    background-color: rgb(226, 226, 226);
}

.nav-item form:active {
    outline: 1px;
    border: solid 3px lightblue;
}

.nav-item form label {
    padding-left: 10px;
}

.nav-item form input {
    border: 0px;
    background-color: inherit;
    border-radius: inherit;
    outline: none;
    flex: auto;
    font-size: 15px;
}

#min-search {
    display: none;
}

main {
    margin-top: 100px;
    padding-left: 30px;
}

image-list {
    width: 90%;
    margin: auto;
}

.grid-sizer,
.grid-item {
    width: 270px;
    margin: 10px;
}

.grid-item img {
    display: block;
    width: 100%;
}

.image-list {
    margin: auto;
    list-style: none;
}

.image-card {
    position: relative;
    border-radius: 30px;
}

.image-card img {
    border-radius: 30px;
}

.image-card-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 99%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    transition: background-color ease-in-out 200ms;
}

.image-card-overlay:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.1);
    cursor: zoom-in;
}

.image-card-overlay button {
    margin: 20px;
    padding: 15px 20px 10px 20px;
    background-color: red;
    border: 0px;
    color: white;
    outline: none;
    border-radius: 15px;
    align-self: flex-end;
    font-weight: bolder;
    cursor: pointer;
}

.image-card-overlay button:hover {
    background-color: rgb(241, 7, 7);
}

.image-card-overlay-footer {
    margin: 10px 0px;
    text-align: center;
}

.image-card-overlay-footer * {
    padding: 5px;
    margin: 5px;
}

.image-card-overlay-footer .download,
.image-card-overlay-footer .ellipses {
    padding: 10px;
    background-color: white;
    border-radius: 100%;
    cursor: pointer;
}

.image-card-overlay-footer span {
    background-color: white;
    padding: 5px 10px;
    border-radius: 20px;
}

.image-card-overlay-footer span a {
    text-decoration: none;
    font-weight: 900;
    color: rgb(15, 15, 15);
}

.rotate {
    transform: rotate(45deg);
    margin-top: 0px;
    padding: 0px;
}

@media(max-width: 490px) {
    #min-search {
        display: initial;
    }
    #nav-search {
        display: none;
    }
    .nav-item {
        margin: 0px;
        flex: 1;
    }
    #following a {
        padding: 10px 15px;
        color: rgb(10, 10, 10);
    }
    .image-card-overlay button {
        margin: 10px;
        padding: 10px 5px 5px 15px;
        background-color: red;
        border: 0px;
        color: white;
        outline: none;
        border-radius: 15px;
        align-self: flex-end;
        font-weight: bolder;
        cursor: pointer;
    }
}